astroplan>=0.10.1
astropy>=8.0.1
astropy-iers-data>=0.2026.9.28.0.59.37
astroquery>=0.4.11
asttokens>=3.0.2
beautifulsoup4>=4.15.0
certifi>=2026.7.22
charset-normalizer>=3.5.2
colorama>=0.4.6
contourpy>=1.4.0
cycler>=0.12.1
executing>=2.2.1
fonttools>=4.66.1
html5lib>=1.1
icecream>=2.2.0
idna>=3.20
jaraco.classes>=3.4.0
jaraco.context>=6.1.2
jaraco.functools>=4.6.0
jplephem>=2.24
keyring>=25.7.0
kiwisolver>=1.5.1
matplotlib>=3.10.9,<3.11
more-itertools>=11.1.0
numpy>=2.5.3
packaging>=26.3
pillow>=12.3.0
pyerfa>=2.0.1.5
Pygments>=2.21.0
pyparsing>=3.3.3
python-dateutil>=2.9.0.post0
pytz>=2026.4
pyvo>=1.9.1
pywin32-ctypes>=0.2.3
PyYAML>=6.0.3
requests>=2.34.2
scipy>=1.18.1
six>=1.17.0
soupsieve>=2.10
typing_extensions>=4.16.0
tzdata>=2026.4
urllib3>=2.8.0
webencodings>=0.6.1
